.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px;

    app-nav-bar {
        width: 100%;
    }

    .fila {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        //overflow-x: auto;
        //scroll-behavior: smooth;
        //scrollbar-width: thin;

        app-video-card {
            width: 16rem;
        }
    }
}